<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.megawe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLowonganKerja"
            android:theme="@style/MyLightActionBar"></activity>
        <activity
            android:name=".HapusActivity"
            android:parentActivityName=".RekomendasiActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".EditActivity"
            android:parentActivityName=".RekomendasiActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".RiwayatActivity"
            android:parentActivityName=".AfterLoginActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".AfterLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfilActivity"
            android:parentActivityName=".AfterLoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddPekerjaanActivity"
            android:parentActivityName=".AfterLoginActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".RegistrasiActivity"
            android:theme="@style/MyLightActionBar" />

        <activity
            android:name=".PesanActivity"
            android:label="@string/pesan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".RekomendasiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddActivity"
            android:theme="@style/MyLightActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>